@use 'src/styles/vars';
.settings{
  position:fixed;
  right:0;
  top:0;
  padding: vars.$gutter;
  transform: translateX(calc(100% - #{vars.$gutter}));
  transition: transform 0.3s cubic-bezier(.9,.07,.5,1.38);

  &--open{
    transform: translateX(0);
  }
 
}
